.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bottomContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.topWrapper {
  height: 40%;
}
