.SocialMedia {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    column-gap: 50px;
}

.SocialMedia a {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #DDD4F3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.SocialMedia a:hover {
    background-color: var(--brown);
}
.SocialMedia a>img {
    width: 26px !important;
}
