.main-cards{
    height: auto;
    width: 100%;
    background: #EDE9E8;

}

.car {
    display: flex;
    /* height: 150px; */
    width: auto !important; 
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;    
    padding: 20px;
    margin-top: 30px;

}

.img {
    display: flex;
    flex-direction: column;  
    margin-left: 15px; 
  }

.services{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
