.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bottomContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 40%;
}
.topWrapper {
  height: 25%;
}
.Button {
  border: none;
  cursor: pointer;
  background-color: white;
  color: var(--orange);
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}
.Button:hover {
  color: var(--brown);
}
.bottomWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.input {
    border: 1px solid #ede9e8;
    box-sizing: border-box;
    border-radius: 20px;
    height: 50px;
    width: 320px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--brown);
  }