
.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 2;

}
.h2{
    font-size: 40px;
}

.modalContent{
    margin: 32px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    min-height: 220px;
    transition: 0.4s all;
    background: white;
}