.Container {
  display: grid;
  grid-template-columns: 30% 68%;
  gap: 2%;
  width: 80%;
  margin: 0 auto;
  margin-top: 8vh;
}

.Sidebar {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.Sidebar h1 {
  font-size: 50px;
  margin-bottom: 10vh;
}
.Sidebar a {
  font-size: 20px;
  text-decoration: none;
  color: #c3b9b5;
  margin-bottom: 3vh;
  transition: 0.2s all;
}
.Sidebar a:hover {
  color: var(--brown);
}
