.header__container{

    padding-top: 65px;
    /* margin-right: 80px; */
    padding-right: 0;
    padding-left: 80px;
   
    display: flex;
    align-items: center;
}
.container__logo{
    width: 10%;
}

.active {
    color: var(--brown);
    font-size: large;
    text-decoration: none;
}
.header__info__container{  
    display: flex;
    height: 53.6px;
    width: 70%;
    justify-content: center;
    align-items: center ;
    gap: 80px;
    text-transform: uppercase
}
.header__info{
    position: relative;
    text-decoration: none;
    font-size: large;
    color: var(--light-brown);
    cursor: pointer;
    transition-duration: 0.3s; 
}
.header__info:hover {
    color: var(--brown);
}
.city {
     width: 20%;
     color: var(--orange);    
     display: flex;
     justify-content: flex-end;
     font-size: large;
     

    
}
.city__info{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange); 
    font-size: large;
    cursor: pointer;
    text-transform: uppercase;
}

.place {
height: 29.03196907043457px;
width: 20px;
}